<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.js"></script>
</head>
<body>
  <div class="row mt-3">
      <div class="col-md-6 offset-3">
          <div class="card">
              <div class="card-header">Authentication</div>
            <div class="card-body">
                <form method="post" th:action="@{/login}">
                    <div>
                      <label for="Username" class="form-label" >Username : </label>
                      <input class="form-control" id="Username" type="text" name="username">
                    </div>
                    <div>
                      <label for="Password" class="form-label" >Password : </label>
                      <input class="form-control" id="Password" type="Password" name="password">
                    </div>
                    <div class="form-check mb-3">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="remember-me"> Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
          </div>
      </div>
  </div>
</body>
</html>